{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Your Yona Entarteiment - компания по сборки персональных компьютеров. Компания также занимается кастомизацией и разработкой индивидуальных дизайнов ваших персональных компьютеров. Предоставляет различные товары для создания неповторимого образа ваших девайсов и создания неповторимой атмосферы на вашем рабочем/игровом месте.

    Позвольте вашему рабочему месту засиять по-новому.
</p>

{% endblock %}
