{% extends "app/layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1>Your Yona Entarteiment</h1>
    <p class="lead">
        Your Yona Entarteiment - компания по сборки персональных компьютеров.
        Компания также занимается кастомизацией и разработкой индивидуальных дизайнов ваших персональных компьютеров.
        Предоставляет различные товары для создания неповторимого образа ваших девайсов и создания неповторимой атмосферы на вашем рабочем/игровом месте.
    </p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Наш сайт поможет вам:</h2>
        <p>
            () собрать ПК с нуля, исходя из ваших индивидуальных требований и запросов;</br>
            () проверить совместимость внтуренних компонентов вашего будущего компьютера;</br>
            () разработать дизайн вашего системного блока;</br>
            () выбрать готовый дизайн из библиотеки уже имеющихся;</br>
            () преобрести товары для улучшения визуала вашего ПК и рабочего места;</br>
            () подобрать переферию для различных отраслей деятельности
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>С нами сотрудничают и являются нашими клиентами специалисты самых разных областей:</h2>
        <p>
            () Блогеры и стримеры;</br>
            () Дизайнеры различных отраслей - от 2D/3D дизайна, до анимации;</br>
            () Монтажёры и фотографы;</br>
            () IT-специалисты</br>
        </p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Доверь свой комфорт нам!</h2>
        <p>Наша команда с радостью поможет вам обеспечить комфорт себе, своей деятельности и своему рабочему месту.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
