{% extends "app/layout.html" %}

{% block content %}

<h1>{{ title }}.</h1>
<hr />
<div>
    <h2>Видео-ролик 1</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I6STa52BBMM?si=fxnd8EIAtQSbqbJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<hr />
<div>
    <h2>Видео-ролик 2</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BHzP09ZGdHE?si=U8U_YJsVo0-jJi7O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

{% endblock %}
